<mat-card class="p-0">  
    <div class="bg-primary text-center py-1">       
        <h2>Edit your data:</h2> 
    </div> 
    
    <form [formGroup]="personalForm" (ngSubmit)="onSubmit(personalForm.value)" fxLayout="row wrap" class="user-form p-1">

        <div fxFlex="100" fxFlex.gt-sm="20" fxFlex.sm="50" class="p-1">
            <mat-form-field appearance="outline">
                <mat-label>Salutation</mat-label> 
                <mat-select placeholder="Select salutation" formControlName="salutation">
                    <mat-option *ngFor="let salutation of salutations" [value]="salutation">
                        {{salutation.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div fxFlex="100" fxFlex.gt-sm="40" fxFlex.sm="50" class="p-1">
            <mat-form-field appearance="outline">
                <mat-label>First Name</mat-label>
                <input matInput autocomplete="off" placeholder="First Name" formControlName="firstname" type="text">
                <mat-error *ngIf="personalForm.controls.firstname.errors?.required">First Name is required</mat-error>                
            </mat-form-field> 
        </div>

        <div fxFlex="100" fxFlex.gt-sm="40" fxFlex.sm="50" class="p-1">
            <mat-form-field appearance="outline">
                <mat-label>Last Name</mat-label>
                <input matInput autocomplete="off" placeholder="Last Name" formControlName="lastname" type="text">
                <mat-error *ngIf="personalForm.controls.lastname.errors?.required">Last Name is required</mat-error>                  
            </mat-form-field> 
        </div>


        <div fxFlex="100" fxFlex.gt-sm="33.3" fxFlex.sm="50" class="p-1">
            <mat-form-field appearance="outline">
                <mat-label>Gender</mat-label> 
                <mat-select placeholder="Select gender" formControlName="gender">
                    <mat-option *ngFor="let gender of genders" [value]="gender">
                        {{gender.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div fxFlex="100" fxFlex.gt-sm="33.3" fxFlex.sm="50" class="p-1">
            <mat-form-field appearance="outline">
                <mat-label>Contact email</mat-label>
                <input matInput autocomplete="off" placeholder="Email" formControlName="email" type="text"> 
                <mat-error *ngIf="personalForm.controls.email.errors?.required">Email is required</mat-error>                 
            </mat-form-field> 
        </div>

        <div fxFlex="100" fxFlex.gt-sm="33.3" fxFlex.sm="50" class="p-1">
            <mat-form-field appearance="outline">
                <mat-label>Phone</mat-label>
                <input matInput autocomplete="off" placeholder="Phone" formControlName="phone" type="text"> 
                <mat-error *ngIf="personalForm.controls.phone.errors?.required">Phone is required</mat-error>                 
            </mat-form-field> 
        </div>

        <div fxFlex="100" fxFlex.gt-sm="20" fxFlex.sm="50" class="p-1">
            <mat-form-field appearance="outline">
                <mat-label>Zip Code</mat-label>
                <input matInput autocomplete="off" placeholder="Zip Code" formControlName="zipcode" type="text"> 
                <mat-error *ngIf="personalForm.controls.zipcode.errors?.required">Zip Code is required</mat-error>                 
            </mat-form-field> 
        </div>

        <div fxFlex="100" fxFlex.gt-sm="40" fxFlex.sm="50" class="p-1">
            <mat-form-field appearance="outline">
                <mat-label>Country</mat-label> 
                <mat-select placeholder="Select country" formControlName="country">
                    <mat-option *ngFor="let country of countries" [value]="country">
                        {{country.name}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="personalForm.controls.country.errors?.required">Country is required</mat-error>
            </mat-form-field>
        </div>

        <div fxFlex="100" fxFlex.gt-sm="40" fxFlex.sm="50" class="p-1">
            <mat-form-field appearance="outline">
                <mat-label>State</mat-label> 
                <mat-select placeholder="Select state" formControlName="state">
                    <mat-option *ngFor="let state of states" [value]="state">
                        {{state.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div fxFlex="100" class="p-1">
            <mat-form-field appearance="outline">
                <mat-label>Address</mat-label> 
                <textarea matInput placeholder="Enter address" formControlName="address"></textarea> 
            </mat-form-field>
        </div>

        <div fxFlex="100" class="p-1 text-center">
            <button mat-raised-button color="primary" class="uppercase mx-1" type="submit">Update</button>             
        </div>

    </form> 
   
</mat-card>
 